<html lang="ru">
<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css" integrity="sha256-XoaMnoYC5TH6/+ihMEnospgm0J1PM/nioxbOUdnM8HY=" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/styles.css">

<title>Литературные часы</title>
<body>
    <div id="main-wrapper">
        <header>
        </header>
        <nav>
        </nav>
        <article>
            <div class="text" id="text"><%- quote.text %></div>
            <div class="author" id="author"><%= quote.author %>, «<%= quote.book %>»</div>
        </article>
        <footer id="footer">
            <a href="/add"><i class="fa fa-plus"></i> Добавить цитату</a> | Проект на <i class="fa fa-github"></i>
            <a href="https://github.com/coyotle/literature-clock-ru">GitHub</a>
             | Тёмный режим <p class="toggle">
                <input type="checkbox" id="toggle" />
                <label for="toggle"></label>
             </p>
        </footer>
    </div>
    <script type="text/javascript" src="/static/clock.js"></script>
    <script type="text/javascript" src="/static/toggle.js"></script>
    <script>      
        updateClock();
        runClock();
    </script>
</body>
</html>